button-background-color = darkorange;
button-background-color-hover = green;
low-score-color = red;
hige-score-color = green;
cursor-button = pointer;

button {
    background-color: button-background-color;
    border: none;
    width: 180px;
    height: 35px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0 10px 0;
    cursor: cursor-button;
}

.play-butt-fruit {
    background-color: play-button-background-color;
    color: button-color;
    border-radius: 25px;
    border: none;
    width: 75px;
    height: 30px;
    cursor: cursor;
}

button:hover {
    background-color: button-background-color-hover;
}

.frut-img {
    cursor: crosshair;
    width: 72px;
    height: 66px;
    margin: 0 1.5px 0 1.5px;
    border: 2px solid rgb(131, 126, 126);
}

img:hover {
    opacity: 0.8;
}

.but-disabled {
    background-color: rgb(128, 126, 123);
    border: none;
    width: 180px;
    height: 35px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.name-butt {
    margin-top: 50px;
    width: 70px;
    height: 35px;
    border-radius: 25px;
    border: none;
    color: white;
    margin: 20px;
    font-size: 20px;
}

.hige-score {
    width: 200px;
    margin: 10px;
    height: 25px;
    font-size: 20px;
    color: hige-score-color;
    font-weight: bolder;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.low-score {
    width: 200px;
    margin: 10px;
    height: 25px;
    font-size: 20px;
    color: low-score-color;
    font-weight: bolder;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
