buttons-background-color = mediumslateblue;
hover-buttons-background-color = blue;

.buttons-start {
    color: white;
    background-color: buttons-background-color;
    width: 150px;
    height: 35px;
    opacity: 0.8;
}

.buttons-start:hover {
    background-color: hover-buttons-background-color;
}