hover-background-color = rgb(5, 19, 27);
answer-background-color = rgb(3, 5, 5);
hover-answer-background-color = grey;
button-background-color = rgb(12, 19, 19);
button-new-background-color = rgb(15, 84, 84);
button-color = aliceblue;
cursor = pointer;
trueAnswer-background-color = darkgreen;
falseAnswer-background-color = darkred;
play-button-background-color = darkorange;

button:hover {
  opacity: 0.7;
}

.answer-dask:hover {
  background-color: hover-answer-background-color;
}

.answer-dask {
  cursor: cursor;
  min-height: 25px;
  display: block;
  justify-content: center;
  text-align: center;
  background-color: answer-background-color;
  border-bottom-right-radius: 55px;
  border-top-left-radius: 55px;
}

.buts {
  width: 105px;
  height: 35px;
  margin: 0 10px 5px 10px;
  border-bottom-right-radius: 70px;
  border-top-left-radius: 70px;
  background-color: button-background-color;
  color: button-color;
  font-size: 25px;
  cursor: cursor;
}

.question-true {
  background-color: trueAnswer-background-color;
  padding: 15px;
  min-height: 35px;
  border-radius: 25px;
  width: 46%;
}

.question-false {
  background-color: falseAnswer-background-color;
  padding: 15px;
  min-height: 35px;
  border-radius: 25px;
  width: 46%;
}

.butt-new-exit {
  margin-top: 200px;
  width: 70px;
  height: 75px;
  border-radius: 25px;
  background-color: button-new-background-color;
  border: none;
  color: button-color;
  margin-left: 50px;
  cursor: cursor;
}

.butt-new-exit:hover {
  background-color: hover-background-color;
}

.name-butt {
  width: 85px;
  height: 30px;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 35px;
  background-color: button-background-color;
  color: button-color;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: cursor;
}

.butt-score-back {
  width: 170px;
  height: 40px;
  margin: 10px;
  border-bottom-right-radius: 70px;
  border-top-left-radius: 70px;
  background-color: button-background-color;
  opacity: 0.7;
  color: button-color;
  font-size: 25px;
  cursor: cursor;
}

.butt-score-back:hover {
  opacity: 0.5;
  background-color: hover-answer-background-color;
}

.play-butt-question {
  background-color: play-button-background-color;
  color: button-color;
  border-radius: 25px;
  border: none;
  width: 75px;
  height: 30px;
  cursor: cursor;
}
